.card
{
}

.questionCard
{
    grid-area: 'questionArea';
    /* border: solid .5rem blue; */

}

.selectorCard
{
    grid-area: 'selector';
}

.mainArea
{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'selector' 'questionArea';
    width: 90vw;
    height: 90vh;
    gap: 1rem;
}

h3
{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;
}